#container{
  margin: 0 auto;
  //padding: 0;
  max-width: 95%;
  list-style: none;
  /*text-align: center;*/
  font-size: 0px;
  
}

#container-holder{
  max-width: 95%;
  margin: 0 auto;
}


/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

#container > div {
  position: relative;
  float: left;

  margin: 0px 0px 20px 20px;
  width: 280px;
  height: 270px;
  opacity: 1;
  overflow: hidden;

  :hover {
    background-color:white;
  }
}

#container > div > * {
  margin: 0;
  padding: 0;
}

#container > div a img {
  display: block;
  margin: 0 auto;
  border: none;
  min-width: 280px;
  max-width: 300px;
  /*min-height: 100%;*/
  :hover {
    background-color: white;
  }
}

#container > div a {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}

#thumb-title{
  position: absolute;
  width: 100%;
  padding-top: 5px;
  top: 220px;
  left: 0px;
  text-align: center;
  background-color: #ffffff;
  color: #000;
  height: 40px;
  font-size: 14px;
  font-family: 'Mada', sans-serif;

}


.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.highlight{
  border-bottom: 1px dotted;
  width: 50%;
  color: #547791;
}

.overlay {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.overlay:hover {
  opacity: .5;
}

.fade {
  background-color: white;
}

.box:hover {
  background-color: white;
}

.photo-container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.photos {
  text-align: center;
}

.photo {
  text-align: center;
  margin: 0 auto;
  padding: 2em 2em;
  width: fit-content;
  display: inline-block;
}